In [5]:
# Converting user input to integer and float

user_input = input("Enter a number")

try:
    int_value = int(user_input)
    float_value = float(user_input)
    print(f"Integer value: {int_value}")
    print(f"Float value: {float_value}")
except ValueError:
    print("Invalid input. please enter a valid number")

Integer value: 45
Float value: 45.0

In [2]:
# Processing a list of string numbers and converting them to integers

string_numbers = ["12","23","34","56"]
int_numbers = [int(num) for num in string_numbers]
print(int_numbers)
print(type(int_numbers))

[12, 23, 34, 56]
<class 'list'>

In [1]:
# Handling mixed data types in a list
mixed_list = [1, "2", 5.0, "6.7"]

converted_list = [float(item) if isinstance(item,str) else item for item in mixed_list]
print(converted_list)

[1, 2.0, 5.0, 6.7]

In [8]:
#Write a Python program that prints the data type of each of the following variables

a = 10
print(f"Type of a is: {type(a)}")
b = 3.14
print(f"Type of b is: {type(b)}")
c = "Hello"
print(f"Type of c is: {type(c)}")
d = True
print(f"Type of d is: {type(d)}")
e = None
print(f"Type of e is: {type(e)}")
f = [1,2,3]
print(f"Type of f is: {type(f)}")
g = (4,5,6)
print(f"Type of g is: {type(g)}")
h = {'name': 'Shubham', 'age': 19}
print(f"Type of h is: {type(h)}")
i = {1,2,3}
print(f"Type of i is: {type(i)}")

Type of a is: <class 'int'>
Type of b is: <class 'float'>
Type of c is: <class 'str'>
Type of d is: <class 'bool'>
Type of e is: <class 'NoneType'>
Type of f is: <class 'list'>
Type of g is: <class 'tuple'>
Type of h is: <class 'dict'>
Type of i is: <class 'set'>

In [ ]:
#Write a Python program to
#Convert an integer to float.

int_value = 34

int_value = int(float_value)
print(float_value)

45.0

In [12]:
#Convert a float to integer.

int_value = 45

float_value = float(int_value)
print(float_value)
print(type(float_value))

45.0
<class 'float'>

In [ ]:
#Convert a string to integer (input from user).

number = int(input("Enter a number"))
string_number = ("1","2","3")

In [ ]:
#Convert a list to tuple.

list_value = [1,2,3,4,5]

tuple_value = tuple(list_value)
print(tuple_value)
print(type(tuple_value))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [15]:
#convert a tuple to list
tuple_value = (1,2,3,4)

list_value = list(tuple_value)
print(list_value)
print(type(list_value))

[1, 2, 3, 4]
<class 'list'>

In [16]:
#Concatenate two strings.
str_1 = "Shubham"
str_2 = "Raorane"
result = str_1 + " " + str_2
print(result)

Shubham Raorane

In [27]:
#Add two integers.
int1 = 34
int2 = 89
result1 = int1 + int2
print(result1)

123

In [ ]:
#Add two list
list1 = [1,2,3,4,5]
list2 = [3,8,7,6,9]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 3, 8, 7, 6, 9]

In [35]:
# slicing a string and list
s = "Hello my name is Shubham"

print(s[0:7])
print(s[7:10])
print(s[10:])

list = [12,56,78,90,34,67]
print(list[0:3])
print(list[5:])

Hello m
y n
ame is Shubham
[12, 56, 78]
[67]

In [37]:
#Multiply a string with an integer.

string = "Shubham"
int = 7
result = string * int
print(result)

ShubhamShubhamShubhamShubhamShubhamShubhamShubham