In [5]:
for y in range(3):
    for x in range(1,10):
        print(x, end=" ")
    print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [ ]:
#print the pattern % using nested loops
rows = int(input("Enter the # of rows: "))
columns = int(input("Enter the # of columns: "))
symbols = input("Enter the symbol: ")

for x in range(rows):
    for y in range(columns):
        print(symbols, end=" ")
    print()

% % % %
% % % %
% % % %

In [12]:
# print the pattern * using nested loops
n = int(input("Enter the value to start sequence"))

for i in range(n):
    for j in range(i):
        print('*', end=" ")
    print()

for i in range(n,0,-1):
    for j in range(i):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
# print single star at first row 2 stars in the second row and continue doing this in a similar fashion
for i in range(0,4):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [15]:
# print odd number patterns
k = 1
for i in range(0,5):
    for j in range(0,k):
        print('$',end=" ")
    k = k + 2
    print()

$
$ $ $
$ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $

In [16]:
# Write question words 3 times using nested loops

number = [1,2,3]
question = ['what','when','why']
for i in number:
    print(i)
    for j in question:
        print(j)

1
what
when
why
2
what
when
why
3
what
when
why

In [17]:
# Exercise 2 : Use single for loop to access each list

list = [['lion','apple','cherry'],['sheep','mango','tiger']]
for i in list:
    print(i)

['lion', 'apple', 'cherry']
['sheep', 'mango', 'tiger']

In [18]:
# Exercise 3 : Using Nested for loop access each individual element from list with in the list

list = [['lion','apple','cherry'],['sheep','mango','tiger']]
for i in list:
    for j in i:
        print(j)

lion
apple
cherry
sheep
mango
tiger

In [20]:
#Exercise 5: print the following output
#1
#2 2
#3 3 3
#4 4 4 4

for i in range(1,5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [21]:
# Exercise 6: Skip ovals to print from the sentence ‘Python Logic For Kids’
for i in 'Python logic for kids':
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        continue
    print(i,end=" ")

P y t h n   l g c   f r   k d s

In [22]:
# Exercise 10 : Print Alphabets

val = 65
for i in range(0,5):
    for j in range(0,i+1):
        ch = chr(val)
        print(ch,end=" ")
        val = val+1
    print()

A
B C
D E F
G H I J
K L M N O

In [23]:
# Print your name in 3 rows and columns
rows = int(input("Enter the # of rows: "))
columns = int(input("Enter the # of columns: "))
name = input("Enter your name here: ")

for i in range(rows):
    for j in range(columns):
        print(name,end=" ")
    print()

shubham shubham shubham
shubham shubham shubham
shubham shubham shubham