In [1]:
# sets

data = set()
print(type(data))

<class 'set'>

In [2]:
# create a set

data = {2,3,4,5,4,4,5,6,7,8,8}
print(data)

{2, 3, 4, 5, 6, 7, 8}

In [3]:
# converting list into set

listdata = [1,2,3,4,5,6,7,7,8,8,8]
myset = set(listdata)
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
# adding new elements

data.add(786)
print(data)

{2, 3, 4, 5, 6, 7, 8, 786}

In [9]:
# update data
data_update = [67,89,90]
data.update(data_update)
print(data)

{2, 3, 4, 5, 6, 7, 8, 67, 76, 78, 786, 89, 90, 56}

In [10]:
# discard

data.discard(78)
print(data)

{2, 3, 4, 5, 6, 7, 8, 67, 76, 786, 89, 90, 56}

In [11]:
# remove

data.remove(786)
print(data)

{2, 3, 4, 5, 6, 7, 8, 67, 76, 89, 90, 56}

In [12]:
data.pop()
print(data)

{3, 4, 5, 6, 7, 8, 67, 76, 89, 90, 56}

In [13]:
data.clear()
print(data)

set()

In [1]:
# union
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
# intersection
set4 = set1.intersection(set2)
print(set4)

{4, 5}

In [3]:
# difference
set5 = set1.difference(set2)
print(set5)

{1, 2, 3}

In [4]:
# symmetric difference
set6 = set1.symmetric_difference(set2)
print(set6)

{1, 2, 3, 6, 7, 8}