In [ ]:
# tuples in python

data = ()
print(data)

#check type

print(type(data))

()
<class 'tuple'>

In [2]:
# creating tuples

data = (1, 2, 3, 4, 5)
print(data)

(1, 2, 3, 4, 5)

In [3]:
# accessing data from tuples

data = (1, 2, 3, 4, 5)
print(data[3])

4

In [1]:
# indexing 
fruits = ("apple", "banana", "cherry")
print(fruits[0])  
print(fruits[2])

apple
cherry

In [2]:
# Negative Indexing
fruits = ("apple", "banana", "cherry")
print(fruits[-1])  
print(fruits[-2])

cherry
banana

In [5]:
# slicing 
print(data[1:4])

(2, 3, 4)

In [6]:
# length of tuple
print(len(data))

5

In [7]:
# count()
data = (1, 2, 3, 4, 5, 2, 2, 2)
print(data.count(2))

4

In [8]:
# concatenation
data = (1, 2, 3, 4, 5)
data1 = (6, 7, 8, 9, 10)
data2 = data + data1
print(data2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
# Repeating tuples
tuple1 = (1, 2, 3)
result = tuple1 * 2
print(result)

(1, 2, 3, 1, 2, 3)

In [ ]:
# Checking membership
fruits = ("apple", "banana", "cherry")
print("apple" in fruits) 
print("orange" in fruits)

True
False

In [6]:
# Iterating over a tuple
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [7]:
# Creating a nested tuple
nested_tuple = (1, 2, (3, 4), (5, (6, 7)))

# Accessing elements in a nested tuple
print(nested_tuple[2])     
print(nested_tuple[2][1])    
print(nested_tuple[3][1][0]) 

# Iterating through a nested tuple
for sub_tuple in nested_tuple:
    print(sub_tuple)

(3, 4)
4
6
1
2
(3, 4)
(5, (6, 7))

In [9]:
# Swapping values using tuples
a = 24
b = 56
a, b = b, a
print(f"a = {a}, b = {b}")

a = 56, b = 24